* {
  font-family: 'Neucha', cursive;
}

body {
  display: flex;
  height: 100vh;
  margin: 0%
}

main {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.btn {
  border: 2px solid #000;
  float: left;
}

.spot1,
.spot3,
.spot7,
.spot9 {
  border-style: none;
}

.spot2,
.spot8 {
  border-style: none solid none solid;
}

.spot4,
.spot6 {
  border-style: solid none solid none;
}

.dog-side,
.cat-side {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid pink; /* remove later */
}

.dog,
.cat {
  height: 40%; /* will change this later with new img */
}

.small-dog,
.small-cat {
  width: 10%; /* will change this later with new img */
}

.game-dog,
.game-cat {
  width: 100%;
}

.gameboard {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 50%;
  height: 50%;/* may not need this */
  margin: 5%;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 20%;
}

.start-over {
  padding: 2%;
  border: 2px solid #000;
  border-radius: 50%;
  margin-top: 5%;
}
